/* PatientDetails.css */

.patient-details-container {
    max-width: 600px;
    margin: auto;
  }
  
  .header {
    text-align: center;
    padding: 20px 0;
  }
  
  .header h1 {
    margin: 0;
    background: linear-gradient(to bottom, #071ED9, #007AD9);
  }
  
  .patient-form {
    width: 100%;
    padding: 20px;

  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .gender-radio-container {
    display: flex;
    margin-bottom: 15px;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .pay-now-button,
  .use-voucher-button {
    padding: 10px 20px;
    margin-right: 10px;
  }
  